html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

button {
  color: green;
  background-color: black;
  height: 40px;
  width: 65px;

}

button:hover{
  background-color: lightgray;
}

